/* ================== DANGER ZONE - important stuff that could ruin the style or function of the website if changed ================== */
/* i mean, generally, you don't touch any css because any of it could break anything, but i mean this is the very important stuff */

.page-container { /* contains everything in the <body> tag */
    /* on second thought i could probably just put this in the style of the body tag but it's too far developed to risk it */
    font-family: "Jost", "sans-serif";
}

.jost-default { /* jost font CSS. if you wanna change the font, you gotta change this too i think */
    font-family: "Jost", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content-container { /* contains everything that isn't header and footer */
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
}

.center-logo-stuff { /* for the center logo stuff. technically not too important but likely held together with duct tape, string, gum and a dream */
    text-align: center;
    margin-top: 200px;
}

/* ================== NAVBAR CSS ================== */

.navbar {
    display: flex;
    justify-content: space-between;
    /* need to tone down the padding (top and bottom) AFTER we add the logo */
    max-width: 100%;
    top: 0;
    position: sticky; /* debating whether to actually make this sticky or not */
    /* alternative: could not make it sticky - less on screen, more space, but lacks interactivity when scrolled far down */
    margin: -10px; /* it being negative is fine, don't touch it */
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 9px; /* not sure how to let the banner stretch across the screen w/o being pixel perfect. replace with your own tech if you know */
    padding-right: 9px; /* the reason you have to be pixel perfect is because the scroll bar appears if you overshoot, and the end of the banner is visible if you undershoot */
    /* and no, overflow doesn't fix it */
    background-color: rgb(0, 0, 168);
    z-index: 10;
}

.navbar * {
    /* keeps the other navbar buttons on the same Y-level as logo. don't touch :) */
    display: flex;
}

#nav-logo {
    margin-left: 200px; /* don't let it touch the sides of the screen! */
    display: flex;
}

.other-nav-options {
    float: right;
    margin-right: 200px; /* we need REALLY good whitespace */
}

.other-nav-options a {
    margin-left: 50px;
    padding: 7px;
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.5s;
}

/* when the options are hovered over, change the bg colour for a bit of flair */

.other-nav-options a:hover {
    background-color: rgb(86, 86, 255);
}

/* is it bad etiquette to be changing a colours like this? if you don't like it, just add `color: white` to the one above the above one and delete the below 3. maybe add !important if it doesn't work */

.other-nav-options a:link{
    color: white;
}

.other-nav-options a:visited{
    color: lavender;
}

.other-nav-options a:active{
    color: azure;
}

/* ================== INDEX.HTML EXCLUSIVE ================== */

div.index-description {
    display: flex;
    flex-direction: row;
}

div.index-description > div {
    margin: 10px;
}

.index-description * img { /* all images that appear in the index-description page */
    height: 100px;
    width: 100px;
}

.mini-description-text { /* the actual text in the description part */
    text-align: center;
}

.left-images-index, .right-images-index {
    width: 50%;
}

.left-images-index > img, .right-images-index > img {
    margin-bottom: 200px; /* feel free to adjust based on the index description length */
}

.left-images-index {
    text-align: right;
}

.right-images-index {
    padding-left: 50px;
}

#left-img-2 {
    margin-right: 20px;
}

#right-img-1, #right-img-3 {
    margin-left: -20px;
}

#center-logo-stuff {
    color: #bbdefb;
    animation: 1s ease-in-out 0s 1 running text-fade-in;
}

@keyframes text-fade-in {
    from {color: #FFFFFF; background-color: #FFFFFF; border: 0px solid white}
    to {transform: translateY(30px); color: black;}
}

#anim {
    animation: text-fade-in 1s ease forwards;
}

/* ================== GAMES.HTML EXCLUSIVE ================== */

.game-section {
    display: flex;
    flex-direction: row;
}

.game-description {
    margin-left: 20px  ;
}

.game-description * {
    text-align: right;
}

.game-button {
    font-size: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
    float: right;
}

.game-img {
    min-width: 40%;
}

/* ================== MEDIA QUERIES ================== */

@media screen and (max-width:1280px) {
    .content-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar * {
        margin-bottom: 10px;
    }

    #navbar-logo {
        display: none;
    }

    .other-nav-options {
        justify-content: space-around;
        float: none;
    }

    .left-images-index, .right-images-index {
        display: none;
    }
}

@media screen and (max-width:900px) {
    div.index-description {
        flex-direction: column;
    }
}

@media screen and (max-width:650px) {
    .other-nav-options {
        margin-right: 0px;
    }
}

/* ================== MISC ================== */

.index-game-button {
    border: 2px solid blue;
    background-color: blue;
    transition-duration: 0.4s;
    color: white;
    padding: 16px 32px;
    border-radius: 10px;
    font-size: 20px;
}

.index-game-button:hover {
    background-color: white;
    color: black;
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

/* image aside text AND VICE VERSA!!!! */
.image-aside-text * {
    display: inline-block;
}

.image-aside-text {
    display: flex;
    flex-direction: row;
}

footer { /* most of the stuff here is copied or modified from the banner */
    width: 100%;
    bottom: 0;
    margin: -10px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: gainsboro;
    text-align: center;
    color: red;
}

.img-placeholder {
    background-color: rgb(34, 238, 238);
    color: black;
    border: 1px solid rgb(15, 0, 153);
    padding: 10px;
    text-align: center;
}

.game-description {
    display: flex;
}

.game-description p {
    text-align: left;
}

aside {
    display: flex; 
    width: 100%;
    padding: 10px;
    margin-left: 15px;
    background-color: rgb(34, 238, 238);
}

#desc-words {
    margin-right: 5%;
    width: 200%; /* not sure how this works but it does */
}

#aside-desc {
    width: 50%;
    margin-right: 5%;
    text-align: right;
}

/* ================== MEDIA QUERIES/FLEXBOX ================== */

@media screen and (min-width: 700px) {
    /* developing this soon */
}

/* a bunch of text i'm writing to artificially inflate file size and increase annoyingness
and increase the amount of lines i've written
in order to make it appear as though
i have written a lot
when rather the contrary
but technically not
because i still do stuff
but i just am lost a bit
on where to go next
because there's some bugs i can't fix
and there's some other stuff i cba to do
lol
lmao
haha
it's funny
i'll do it later
thanks
bye */